<%- include('./partials/head.ejs') %>

<section>
  <h2>Waar ben je op zoek?</h2>
  Zin om een nieuw boek te lezen of mee te doen aan een nieuw activiteit?
  <br />Hier vindt je een aantal suggesties!
</section>
<br />
<br />
<h2>boeken & luister boeken</h2>

</body>
</html>

  <section class="boekenOverzicht">
 
    <% results.forEach(result => { %>
     
     <article class="boek">
     <img src="<%= result.coverimages %>" alt="boek">
     <h3> <%= result.titles[0] %></h3>
     </article>
     
     <% }) %>
    </section>

    <h2>cursussen & activiteiten </h2>






<%- include('./partials/foot.ejs') %>
